*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    font-size: 62.5%;
}

body{
    background-color: #C4EBE2;
    display: flex;
    justify-content: center;
}

main{
    margin-top: 14rem;
    display: grid;
    justify-items: center;
}

#sucess{
    margin-top: 3rem;
    padding: 10rem 0 10rem 0;
    background-color: white;
    width: 60rem;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 2rem;
    gap: 4rem;
}

p{
    font-size: 3.6rem;
}

button{
    background-color: rgb(215, 255, 253);
    border-radius: 8px;
    height: 5.6rem;
    width: 15rem;
    border: 0;
    font-size: 1.6rem;
    cursor: pointer;
}
